@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --font-family: "Google Sans Code", monospace;
  --color-canvas-default: #ffffff;
  --color-fg-default: #111111;
  --color-border-default: #e5e5e5;
  --color-prettylights-syntax-comment: #6b7280;
  --color-prettylights-syntax-keyword: #7c3aed;
  --color-prettylights-syntax-entity-tag: #111111;
  --color-prettylights-syntax-string: #065f46;
}

body,
.gsc-main,
.gsc-comment,
.gsc-comment-box,
.gsc-reactions {
  font-family: "Google Sans Code", monospace !important;
}

.gsc-loading-text {
  color: #51a2ff;
}

.gsc-reactions {
  justify-content: flex-start;
  align-items: flex-start;
}

.gsc-reactions-count {
  font-weight: 400;
}

.gsc-comments-count {
  font-weight: 400;
}

.gsc-comment-box-buttons {
  color: #51a2ff;
}

.gsc-reactions-popover {
  background: #ffffff;
}

.gsc-reactions-popover.bottom {
  inset-inline-start: 0;
}

.gsc-reactions-popover::before {
  inset-inline-start: 4px !important;
}

.gsc-emoji-button.has-reacted {
  background: #e5e5e5;
}
